* {
    background: black;
    color: blanchedalmond;    
}

body {
    margin: 0;
} 


.modal {
    position: absolute;
    position: fixed;
    
    left: 30%;
    top: 65%;
    background: rgb(243, 104, 104);
    width: 300px;
    height: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;

    border-radius: 16px;
    box-shadow: 0 0 10px gray;
    background-color: white(255, 255, 255, 0.842);
    color: white(255, 255, 255);

    z-index: -1;
    opacity: 0;

    transition: all .35s;
}

.modal img {
    width: 50px;
    background: rgb(243, 104, 104);
}

.modal h3 {
    background: rgb(243, 104, 104);
    margin: 5px 0;
    font-size: 1.6rem;
}

.modal p {
    background: rgb(243, 104, 104);
}

.modal__buttons {
    background: rgb(243, 104, 104);
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.modal__buttons button {
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 7.5px 15px;
}

#btn-accept {
    background: lightseagreen;
    border: 0;
    opacity: 0.6;
    transition: all 0.35s;

}

#btn-accept:hover {
    opacity: 1;
    background: lightskyblue;
}

#btn-deny {
    background: lightcoral
}

/* Head */
.head {
    display: flex;
    flex-wrap: wrap;
}

.head h2 {
    font-size: 250%;
    margin-left: 10px;
}

.gif {
    width: 150px;
    height: 150px;
    position: relative;
    border: none;
}

/* Lista */

h1 {
    text-align: center;
    margin-right: 50%;
}

ul {
    border: 3px solid blanchedalmond;
    margin-left: 20%;
    margin-right: 40%;
    padding-top: 18px;
    padding-bottom: 18px;
    list-style: none;
}

li {
    margin: 10px;
}

label {
    font-size: 22px;
}

/* Bottone */

.btn {
    margin-top: 100px;
    height: 33.33%;
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popitem {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    margin-right: 20%;
  }

  .btn1 {
    color: #FFF;
    transition: all 0.5s;
    position: relative; 
  }
  .btn1 button {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  } 
  .btn1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .btn1:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .btn1:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }
  